/* Global */
.submit_style_link{
    background-color: #222;
    border-radius: 3px;
    border: none;
    box-shadow: none;
    color: #fff !important;
    cursor: pointer;
    font-family: 'Spinnaker', sans-serif;
    padding: 19px 24px;
    text-decoration: none !important;
    text-transform: uppercase;
}

.submit_style_link:hover{
    background-color: #00aeef;
}

/* First Page */
#dhaulagiri_plugin{
    clear: both;
    content: ' ';
    width: 100%;
}

#dhaulagiri_plugin .month-container table tbody{
    border-bottom: none;
}

#dhaulagiri_plugin .month-container table{
    width: auto;
    line-height: 1.1;
}

#dhaulagiri_plugin .calendar-header{
    display: none;
}

#dhaulagiri_plugin .month-container:hover {
    background: rgba(24, 181, 239, 0.5);
    cursor: pointer;
    border-radius: 10px;
}

#dhaulagiri_plugin .calendar table.month td.day .day-content:hover{
    background: none;
}

#dhaulagiri_plugin .month-container {
    padding: 10px !important;
    height: 250px !important;
}

#dhaulagiri_plugin .calendar table th {
    font-size: 16px !important;
}

#dhaulagiri_plugin .calendar table td{
    font-size: 20px !important;
}

#dhaulagiri_plugin .calendar{
    overflow: hidden !important;
}

    /* For Page Availability */
#dhaulagiri_plugin_page_two .fc-title{
    color: white;
}

#dhaulagiri_plugin_page_two table{
    margin: auto;
    font-weight: bold;
}

.fc-event {
    font-size: .9em;
    border: 1px solid #00aeef;
    background-color: #00aeef;
    /*font-weight: bold;*/
    padding: 1px;
}

.fc-more-cell{
    font-size: 1.3em !important;
    font-weight: bold !important;
    line-height: normal !important;
}

.fc-header{
    background: #00aeef !important;
}

.fc-close{
    font-size: 1em !important;
    margin-top: 6px !important;
    color: #FFFFFF !important;
}

.fc-day-number {
    font-size: 2em;
}

/* Form Page */
#additionalMembers fieldset{
    padding: 10px 10px 0px 10px;
    border: 1px solid #CCCCCC;
    margin-bottom: 30px;
}